:root {
    --accent-color: #7231ea;
    --primary-color: #8b858f;
    --primary-bg-color: #2d2638;
    --secondary-bg-color: #3a374c;
    --header-font: "Open Sans";
    --primary-font: "Lora";
}

html, body {
    background-color: var(--primary-bg-color);
    height: 100vh;
    overflow: hidden;
}
body {margin: 0px;}
* {user-select: none;}

fieldset {
    border-radius: 6px;
}

.form-container {    
    max-width: 600px;
    min-width: 270px;
    width: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {display: none;}
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-title {
    margin-top: 0px;
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
}

.form-input-container {
    display: flex;
    flex-direction: column;

    &.input-error label::after, &.input-empty label::after {
        display: inline-block;
        color: #ff0000af;
        position: relative;
    }

    &.input-error label::after {content: attr(data-error-msg);}
    &.input-empty label::after {content: attr(data-empty-msg);}
    &.input-error label, &.input-empty label {color: #bd0c0c;}
    &.input-error input[type=text], &.input-empty input[type=text], &.input-error input[type=email], &.input-empty input[type=email], &.input-error input[type=tel], &.input-empty input[type=tel], &.input-empty select {
        border: 2px solid #ff0000;
    }
}
.form-label {
    font-family: var(--header-font);
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 18px;

    &.form-label-agreetnc {
        &::before {position: absolute;}
        & span {margin-left: 18px;}
        &::after {
            align-self: flex-start;
            width: 100%;
        }
    }
}

.form-input-text, .form-input-dd {
    background-color: var(--secondary-bg-color);
    border: 0px;
    padding: 12px 18px;
    border-radius: 9px;
    color: #ffffff;
    font-family: var(--primary-font);
    border: 2px solid transparent;

    &::placeholder {color: var(--primary-color);}
    &:focus {
        border: 2px solid var(--accent-color) !important;
        outline: none;
    }
}
.form-input-dd option {
    &:hover {
        background-color: #7231ea;
    }
}

.form-label-radio, .input-empty label.form-label-radio {
    color: #ffffff;
    font-family: var(--primary-font);
}

.form-label-agreetnc a {
    color: var(--accent-color);
    
    &:hover {
        opacity: 0.6;
    }
}

.form-button-container {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.form-radio-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 18px;
}

.form-button {
    padding: 12px 18px;
    border-radius: 9px;
    border: 0px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--header-font);
    transition: all 0.15s;

    &:nth-of-type(1) {
        background-color: transparent;
        border: 2px solid var(--accent-color);
        &:hover {box-shadow: 0px 0px 12px var(--accent-color) inset;}
    }
    &:nth-of-type(2) {
        background-color: var(--accent-color);
        border: 2px solid transparent;
        &:hover {box-shadow: 0px 0px 15px var(--accent-color);}
    }
    &:hover {opacity: 0.8;}
}

.form-input-radio {
    display: none;

    & + label::before {
        content: '';
        display: inline-block;
        position: relative;
        height: 12px;
        width: 12px;
        /* margin-right: 9px; */
        border-radius: 100%;
        background-color: #8b858f;
        margin-right: 6px;
    }
    &:checked + label::before {
        height: 6px;
        width: 6px;;
        background-color: #ffffff;
        border: 3.5px solid var(--accent-color);
        box-shadow: 0px 0px 9px var(--accent-color);
    }
}

.form-label-radio {
    &:hover {
        color: var(--accent-color);
    }
}

.form-input-checkbox {
    display: none;

    & + label::before {
        content: '';
        display: inline-block;
        position: relative;
        height: 12px;
        width: 12px;
        background-color: #8b858f;
        border-radius: 3px;
        top: 1px;
        margin-right: 6px;
    }
    &:checked + label::before {
        background-color: #ffffff;
        height: 6px;
        width: 6px;
        border: 3.5px solid var(--accent-color);
        box-shadow: 0px 0px 9px var(--accent-color);
    }
}

.notification-container {
    display: block;
    position: fixed;
    height: calc(100% - 72px);
    background-color: transparent;
    width: calc(100% - 72px);
    max-width: 500px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    pointer-events: none;
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 6px;
}

.notification-item {
    color: #ffffffcb;
    background-color:#000000a4;
    padding: 12px 15px;
    font-family: var(--primary-font);
    text-align: center;
    border-radius: 9px;
    font-size: 13px;
    backdrop-filter: blur(3px);
    pointer-events: all;
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: calc(100% - 60px);
    
    padding: 30px;
}

.illustration-container {
    flex-grow: 1;
    min-width: 360px;
    max-width: 630px;
    position: relative;
}

.illustration {
    position: absolute;
    top: 0px;
    height: calc(100% - 48px);
    width: calc(100% - 48px);
    background-image: url('https://images.unsplash.com/photo-1736942145358-ff047387450b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    border-radius: 9px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.illus-title {
    margin: 0px;
    color: #e1e1e1;
    font-family: var(--header-font);
    font-size: 36px;
    margin-bottom: 18px;
}

.merch-illus-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: auto;
}

.illus-nav {
    flex-grow: 1;
    &:hover .illus-nav-icon {opacity: 0.5;}
}

.illus-nav-icon {
    color: rgb(202, 202, 202);
    font-size: 36px;
    padding: 12px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    margin: auto;
}

.illus-container {
    overflow: hidden;
    display: flex;
    position: relative;
    width: 150px;
    height: 200px;
}
.illus-item {
    position: absolute;
    transition: transform 0.5s;

    &.item-left {transform: translateX(-150%);}
    &.active-item {transform: translateX(0%);}
    &.item-right {transform: translateX(150%);}
}

.illus-img {
    width: 150px;
    aspect-ratio: 1;
    display: block;
    margin: auto;
    border-radius: 9px;
}

.illus-desc {
    color: #e1e1e1;
    max-width: 150px;
    font-family: var(--primary-font);
    font-size: 15px;
    text-align: center;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

@media (max-width: 750px) {
    body, html {overflow-y: auto;}
    .main-container {
        flex-direction: column;
        height: fit-content;
    }
    .illustration {position: relative;}
    .form-container {min-width: 0px; max-width: none;}
    .illustration-container {min-width: 0px; max-width: none;}
    .form-title, .illus-title {font-size: 24px;}
    .illus-desc {font-size: 12px;}
}